* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper{
  width: 1440px;
}
